[data-testid="collapsedControl"] {
    display: none
}

[data-testid="stToolbar"] {
    display: none
}

iframe {
    display: none;
}

/* st.write */
.css-j5r0tf {
    align-items: center;
}

/* st.button */
div[data-testid="stHorizontalBlock"] div.row-widget.stButton > button {
    width: 150px !important;
}

div.row-widget.stButton > button {
    width: 255px;
}

/* .stMultiSelect div div div div div:nth-of-type(2) {visibility: hidden;}
.stMultiSelect div div div div div:nth-of-type(2)::before {visibility: visible; content:"카테고리 선택";} */